<div class="container">
    <div class="jumbotron text-center bg-danger text-white"><h1>EAT DAT BURGER Burger Bar!</h1></div>
    <h1 class="display-4 text-center"><img id= "baby-burger" src="/images/burger-outline-filled.png" class="img-fluid" alt="Responsive image"></h1>
        <p class="lead text-center">Welcome to EAT DAT Burger Bar!</p>
</div>